@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Didact+Gothic&family=Poppins&display=swap');

html {
    box-sizing: border-box;
    width: 100%;
}
  
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
  
ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: inherit;
}
  
body {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    overflow-x: hidden;
    width: 100%;
}
.input_field {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding-left: 10%;
}
button {
    border: none;
    font-family: Didact Gothic;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  
html, body {
    height: 100%;
}
  
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
  
.container {
    max-width: 90vw;
    height: 10vh;
    margin: 0 auto;
    padding: 0 2vw;
}
  
.header {
    background-color: rgba(139, 139, 224, 0.31);
}
  
.header-main {
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
}
  
.header_inner {
    padding-top: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90vw;
}
  
.menu__list {
    display: flex;
    gap: 5vw;
}
  
.menu__list-link {
    color: #000;
    font-size: 1.25rem;
    margin-left: 10px;
}
  
.menu__list-link:hover {
    color: #463a76;
}
  
.buttons__container {
    max-width: 25vw;
    gap: 1vw;
    display: flex;
    align-items: center;
}
  
.log__in,
.log__up {
    width: 30vw;
    height: 5vh;
    border-radius: 5vh;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.3s, color 0.3s, border 0.3s;
}
  
.button-text {
    width: 100%;
    text-align: center;
}
  
.log__in {
    background: #7760BF;
    color: #FFF;
}
  
.log__in:hover {
    background: #ffffff;
    color: #463a76;
}
  
.log__in:active {
    background: #3b2d57;
}
  
.log__up {
    border: 1px solid #8B8BE0;
    color: #755CBB;
}
  
.log__up:hover {
    background-color: #333368;
    color: #ffffff;
}
  
.log__up:active {
    border-color: #5454a1;
    color: #463a76;
}
  
.menu__list-link {
    text-decoration: none;
    color: #000;
}
  
.menu__list-link:hover {
    color: #463a76;
}
  
.main{
    flex-grow: 1;
}
  
.top{
    color: #000;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    z-index: 5;
    left: 0;
    right: 0;
}
  
.title{
    padding-top: 18.5rem;
    font-size: 3.2rem;
    max-width: 66.4375rem;
    font-style: normal;
    font-weight: 400;
}
  
.subtitle{
    padding-top: 1.3rem;
    max-width: 46.5rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.69;
}
  
.start__link{
    display: inline-block;
    text-align: center;
    margin-top: 3.7rem;
    font-size: 1.5rem;
    color: #FFF;
    max-width: 18.5rem;
    height: 3rem;
    border-radius: 2.25rem;
    background: linear-gradient(90deg, #755CBB 0%, #590070 100%);
    line-height: 3rem;
    width: 100%;
    text-decoration: none;
}
  
.back__image{
    height: 100vh;
    margin-top: -6.1875rem;
}
  
.create__container{
    position: relative;
    max-width: 84rem;
    width: 100%;
    height: 50.375rem;
    flex-shrink: 0;
    border-radius: 1.1875rem;
    background: rgba(139, 139, 224, 0.31);
    backdrop-filter: blur(25px);
    margin-left: 4.5%;
}
  
.create__title{
    color: #000;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    padding-top: 2.45rem;
    padding-left: 6.5625rem;
}
  
.input__container{
    width: 22.5rem;
    height: 25.625rem;
    flex-shrink: 0;
    padding-top: 1.5rem;
    padding-left: 4.125rem;
}
  
input{
    border: none;
}
  
.input_field{
    margin-bottom: 1.875rem;
    width: 22.5rem;
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 0.6875rem;
    background: #FFF;
    backdrop-filter: blur(25px);
}


.people__img{
    position: absolute;
    top: 15.625rem;
    left: 34.5rem;
    z-index: -1;
}
.submit__button {
    margin-top: 15rem;
    margin-left: 10%; 
    width: 9.6875rem;
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 2.9375rem;
    background: #755CBB;
    backdrop-filter: blur(25px);
    display: inline-block;
    padding: 0.9375rem 2.375rem;
    font-size: 1.5rem;
    color: #FFF;
}
.input_field::placeholder{
    padding-left: 2%;
    font-size: 1.5rem;
    opacity: 0.5;
}
.autorize{
    padding-top: 6.25rem;
    padding-left: 2rem;
}
.autorize__container{
    max-width: 84rem;
    height: 50.375rem;
    flex-shrink: 0;
    border-radius: 1.1875rem;
    background: rgba(139, 139, 224, 0.31);
    backdrop-filter: blur(25px);
    flex-direction: column; 
    align-items: center; 
}
.autorize_text{
    padding-top: 8.625rem;
    max-width: 84rem;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
}
.enter__data{
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
}
.form__container{
    max-width: 84rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form{
    margin-top: 4.1875rem;
    width: 28.125rem;
    height: 11.875rem;
    flex-shrink: 0;
    gap: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit__button2 {
    margin-top: 2.6875rem;
    width: 9.6875rem;
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 2.9375rem;
    background: #755CBB;
    backdrop-filter: blur(25px);
    display: inline-block;
    padding: 0.9375rem 2.375rem;
    font-size: 1.5rem;
    color: #FFF;
}

.container1 {
    width: 28.125rem;
    height: 7.4375rem;
    flex-shrink: 0;
    border-radius: 0.6875rem;
    background: #FFF;
    backdrop-filter: blur(25px);
    margin-left: 6.5625rem;
    margin-top: 3.1875rem;
}

.progress-bar {
    width: 100%;
    height: 0.625rem;
    background-color: #f1f1f1;
}
  
.progress-bar-fill {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s ease-in-out;
}
  
.title__quiz{
    padding-top: 3.0625rem;
    padding-left: 6.5625rem;
}
.subtitle__quiz{
    padding-top: 0.6875rem;
    padding-left: 6.5625rem;
}
.quiz__text{
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
}
.quiz__text2{
    color: #403657;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
}
.quiz__link{
    text-decoration: none;
    color: #403657;
}
.text_in_button{
    height: 2.8125rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.5;
    margin-left: 2rem;
    padding-top: 1.5rem;
}
.text_in_button2{
    height: 1.625rem;
    max-width: 22rem;
    font-size: 1rem;
    font-style: normal;
    opacity: 0.5;
    margin-top: 1.875rem;
    margin-left: 2rem;
}
.text__quiz{
    margin-top: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.upper_text{
    max-width: 25rem;
}
.upper_text2{
    max-width: 58rem;
}
.title_quiz{
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
}
.subtitle_quiz{
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    color: #403657;
    font-weight: 400;
}
.lane-Progress_container{
    max-width: 68rem;
    height: 5.3125rem;
    flex-shrink: 0;
    border-radius: 0.6875rem;
    background: #FFF;
    margin-top: 0.6875rem;
    margin-left: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lane-Progress_text{
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    opacity: 0.5;
    margin-left: 3.6875rem;
}
.w3-light-grey {
    max-width: 56rem;
    width: 100%;
    height: 0.625rem;
    flex-shrink: 0;
    border-radius: 2.8125rem;
    background: rgba(119, 96, 191, 0.60);
}

.w3-container.w3-green {
    border-radius: 2.8125rem;
    background: rgba(28, 22, 44, 0.6);
}
.questions__container{
    max-width: 68rem;
    height: 32.625rem;
    flex-shrink: 0;
    border-radius: 0.6875rem;
    background: #FFF;
    margin-top: 0.6875rem;
    margin-left: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question__text{
    text-align: center;
    max-width: 43.75rem;
    margin-top: 4.4375rem;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
}
.reveal__button{
    margin-top: 7.3125rem;
    width: 27.6875rem;
    height: 2.875rem;
    flex-shrink: 0;
    border-radius: 2.8125rem;
    background: #7760BF;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
}
.buttons__quiz {
    display: flex;
    flex-direction: row;
    gap: 26.4375rem;
    max-width: 68rem;
    height: 5.3125rem;
    flex-shrink: 0;
    margin-top: 0.6875rem;
    margin-left: 8rem;
}

.already-button,
.didnt-button,
.skip-button {
    width: 20.875rem;
    height: 5.3125rem;
    flex-shrink: 0;
    border-radius: 0.6875rem;
    background: #FFF;
    backdrop-filter: blur(25px);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.already-button{
    border: 1px solid var(--Green-2, #27AE60);
    color: #27AE60;
}
.skip-button{
    border: 1px solid #F00;
    color: #F00;
}
.autorize__container-q{
    max-width: 84rem;
    height: 54.625rem;
    flex-shrink: 0;
    border-radius: 1.1875rem;
    background: rgba(139, 139, 224, 0.31);
    backdrop-filter: blur(25px);
    flex-direction: column; 
    align-items: center; 
}

.roadmaps{
    padding-top: 100px;
}
.line{
    width: 100%;
    height: 1px;
    background: #000;
    margin-top: 28px;
    margin-left: 0;
}
.container_roadmap {
    width: 100%; /* Ширина кнопки занимает 100% контейнера */
    max-width: 400px; /* Максимальная ширина кнопки */
    height: 119px;
    border-radius: 11px;
    background: rgba(139, 139, 224, 0.31);
    backdrop-filter: blur(25px);
    margin-bottom: 110px; /* Увеличенный отступ между кнопками */
    box-sizing: border-box; /* Включает padding и border в общую ширину и высоту */
}
.text_in_button-r{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.5;
    margin-left: 44px;
    padding-top: 6px;
}
.text_in_button2-r{
    max-width: 352px;
    font-size: 16px;
    font-style: normal;
    opacity: 0.5;
    margin-left: 44px;
}
.roadmaps__buttons {
    display: flex;
    flex-direction: column; /* Расположение кнопок в столбик */
    align-items: flex-start; /* Выравнивание кнопок по левому краю */
    padding: 60px; /* Отступы от краев контейнера */
}
.advices-list{
    display: flex;
    flex-direction: column;
    gap: 0.8125rem;
    margin-left: 15.0625rem;
    margin-top: 4.3125rem;
}
.advices-link {
    text-decoration: none;
    color: #000;
    font-family: Didact Gothic;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    transition: color 0.3s;
}

.advices-link:hover {
    color: #727079;
}
.line-list{
    width: 70%;
    height: 0.0625rem;
    background: rgba(0, 0, 0, 0.40);
}
.perf-text{
    margin-top: 0.9375rem;
    margin-left: 32.375rem;
}

.frontend-perfomance{
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

.title_of_list{
    width: 299px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 11px;
    border: 1px solid #755CBB;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.high-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
.lists_container{
    margin-top: 52px;
    margin-left: 223px;
    display: flex;
    flex-direction: row;
    gap: 48px;
}
.list-of-perfomances{
    margin-top: 30px;
    margin-left: 248px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}
ol {
    text-indent: 10px; 
}
.list{
    margin-right: 48px;
}
.perfomance-list-href{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.tools_container{
    margin-top: 151px;
    margin-left: 223px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.tool{
    width: 299px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 11px;
    border: 1px solid #755CBB;
    background: #D1D4FB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tool-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}
.svgs{
    margin-left: 373px;
    display: flex;
    flex-direction: row;
    gap: 356px;
}
.tools-links{
    margin-top: 0;
    margin-left: 271px;
    width: 210px;
    display: flex;
    flex-direction: row;
    gap: 140px;
    position: absolute;
    z-index: 10;
}
.tools_links-list{
    width: 210px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.tool_link-item{
    width: 208.804px;
    height: 45.62px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #562D61;
    background: #FFF;
    box-shadow: 0px 4px 0px 0px rgba(159, 106, 173, 0.25) inset;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-acc{
    background: #DCDCEF;
}
.acc{
    width: 238px;
}
.acc-container{
    display: grid;
    grid-template-columns:353px 1080px;
}
.avatar-img{
    grid-column: 1;
    grid-row: 1;
    margin-top: 67px;
    margin-left: 42px;
}
.name-acc{
    grid-column: 1;
    grid-row: 1;
    margin-top: 70px;
    margin-left: 121px;
}
.name{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}
.job{
    margin-top: -10px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
    opacity: 0.6;
}
.white_container{
    display: grid;
    grid-template-rows: 0px;
    grid-template-columns: 353px;
    grid-column: 2;
    grid-row: 1/4;
}

.container_content {
    position: relative;
  }
.menu_pages{
    grid-column: 1;
    grid-row: 2;
    margin-top: 84px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.back-button{
    grid-row: 1;
    grid-column: 1;
    margin-left: 30px;
    margin-top: 31px;
}

.results-progress{
    grid-row: 1;
    grid-column: 1;
    margin-left: 30px;
    margin-top: 110px;
}
.info{
    grid-row: 1;
    grid-column: 1;
    margin-top: 95px;
    margin-left: 34px;
}
.personal-det{
    color: #454676;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    opacity: 0.8;
}
.name_block{
    margin-top: 46px;
}
.name-white{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    opacity: 0.5;
}
.job_block{
    margin-top: 20px;
}
.job-white{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    opacity: 0.5;
}
.contact-det{
    margin-top: 46px;
    color: #454676;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    opacity: 0.8;
}
.Email-white{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    opacity: 0.5;
}
.Email_block{
    margin-top: 46px;
}
.LinkedIn_block{
    margin-top: 21px;
}
.LinkedIn-white{
    color: #000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.2px;
    opacity: 0.5;
}
.statistics{
    grid-row: 1;
    grid-column: 2;
    margin-top: 95px;
    margin-left: 115px;
    color: #454676;
    opacity: 0.8;
}
.progress-text-row{
    grid-row: 1;
    grid-column: 2;
}
.circle{
    width: 89px;
    height: 89px;
}
.progress-circles{
    display: flex;
    flex-direction: row;
    gap: 88px;
    margin-top: 159px;
    margin-left: 140px;
}
.progress-text-row{
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 267px;
    margin-left: 120px;
}
.days{
    grid-row: 1;
    grid-column: 2;
    margin-top: 145px;
    margin-left: 117px;
}
.progress-bar-line{
    grid-row: 1;
    grid-column: 2;
    margin-left: 120px;
    margin-top: 391px;
}
.svg1{
    margin-top: 575px;
    margin-left: 713px;
}
.svg2{
    margin-top: -75px;
    margin-left: 1175px;
}
.svg3{
    margin-top: 45px;
    margin-left: 1175px;
}
.svg4{
    margin-top: 35px;
    margin-left: 910px;
    z-index: 5;
}
.svg5{
    margin-top: 440px;
    margin-left: -490px;
    z-index: 1;
    position: absolute;
}
.svg6{
    margin-top: 160px;
    margin-left: 380px;
}
.svg7{
    margin-top: 260px;
    margin-left: -480px;
    position: absolute;
}
.svg8{
    margin-top: 1200px;
    margin-left: 280px;
    position: absolute;
}
.svg9{
    margin-top: 1540px;
    margin-left: -240px;
    position: absolute;
}
.svg10{
    margin-top: 2260px;
    margin-left: -140px;
    position: absolute;
}
.svg11{
    margin-top: 2260px;
    margin-left: -440px;
    position: absolute;
}
.svg12{
    margin-top: 2580px;
    margin-left: -180px;
    position: absolute;
}

/* Ваши стили могут выглядеть по-разному, в зависимости от дизайна вашего приложения */
.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .checkbox {
    width: 27px;
    height: 27px;
    border-radius: 4px;
    border: 1px #AEAEB2 solid;
  }
  
  .checkmark {
    width: 18.90px;
    height: 18.90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .checkmark div {
    width: 18.90px;
    height: 18.90px;
    position: relative;
  }
  
  .checkmark div::before {
    content: '';
    width: 12.60px;
    height: 8.66px;
    position: absolute;
    left: 3.15px;
    top: 5.12px;
    border-bottom: 1.50px white solid;
    border-right: 1.50px white solid;
    transform: rotate(45deg);
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
   }
   
   .modal-content {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
   
   @media screen and (max-width: 1300px) {
    .people__img {
        display: none;
    }
    .logo{
        display: none;
    }
    .already-button,
    .didnt-button,
    .skip-button {
        width: 15rem;
        height: 4rem;
        font-size: 1.2rem;
    }
    .buttons__quiz {
        gap: 5rem;
    }
}
  